.container-fluid {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

.navbar {
  padding: 0px;
  padding-right: 20px;
  padding-top: 10px;
  margin: 0px;
  border-radius: 0px;
  height: 90px;
  box-shadow: 0 0 5px #919191;
}

.navbar-default {
  background-color: #ffffff;
}

.nav-text {
  margin-right: 50px;
}

#navbar-logo {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
}

#dashboard-bg {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  background-color: #f3f3f3;
  float: left;
  width: 100%;
  box-shadow:inset 0 -1px 2px 1px #CFCFCF;
}

.tiles {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  float: left;
  width: 70%;
  height: 100%;
  background-color: #f9f9f9;
  /*background-color: #f9f9f9; Light bg*/
  box-shadow: 0 0 10px 1px #CFCFCF;
}

.indiv-tile {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.inner-tile {
  padding: 10px;
  /*background-color: #f9f9f9; Light bg*/
  background-color: #f9f9f9;
  height: 130px;
  text-align: center;
  color: black;
  box-shadow: 0 0 5px 1px #CFCFCF;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.lock-tile {
  padding: 10px;
  /*background-color: #f9f9f9; Light bg*/
  background-color: #f9f9f9;
  height: 130px;
  text-align: center;
  color: black;
  box-shadow: 0 0 5px 1px #CFCFCF;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}


.inner-tile:hover {
  background-color: #353942;
  color: white;
}

.inner-alert {
  padding: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  height: 120px;
  text-align: left;
  box-shadow: 0 9px 10px -10px #CFCFCF;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.inner-alert:hover {
  background-color: #353942;
  color: #ffffff;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tile-text {
  margin: 20px;
  font-size: 14px;
}

.tile-title {
  font-size: 16px;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #272727;
  background: linear-gradient(#353942, #353942);
  /*background-color: #ffffff; Light bg*/
  box-shadow: 0 9px 10px -10px #CFCFCF;
  color: #ffffff;
}

.alerts {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
  width: 25%;
  height: 493px;
}

.glyphicon {
  font-size: 20px;
}

.glyphicon-alert {
  font-size: 18px;
  margin-right: 10px;
}

.glyphicon-chevron-left {
  font-size: 16px;
  margin-right: 10px;
  color: white;
}

.badge {
  margin-bottom: 2px;
  margin-left: 2px;
  background-color: #e7604a;
}

.site-map {
  padding: 20px;
  float: left;
  width: 100%;
  background-color: #ffffff;
}

#lock-screen {
  display: none;
}
